body {
	background-color: #EDF1F2; /*#e7dfdd*/
}

.container {
	width: 80%;
	margin: 0 auto;
}

.TextDesign{
	font-family: 'Orelega One', cursive;
	color: white;
	font-size: 2.22em;
  margin-top: -4px;
  margin-bottom: auto;
  margin-left: 1em;
	float: left;
  padding: 12px 0px;
}

header {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #13292A;
  height: 4em;
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
  overflow: hidden;
	z-index: 1;
  width: 100%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
	margin top: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 19px;
  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #feab02;
}

.admin{
  background-color: #228280;
  padding: 0.5em 1em;
  border-radius: 25px;
}

.admin a{
	color: white;
}

#login{
	opacity: 2;
  background-color: #ff5e2b;
  padding: 0.5em 1em;
  border-radius: 25px;
	color: #000;
}

#login :hover{
	opacity: 1;
  cursor: pointer;
}


.logout{
  background-color: #ff5e2b;
  padding: 0.5em 1em;
  border-radius: 25px;
}

.logout a{
	color: #000;
}

#PrevBtn{
	Position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

#nextBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
#VideoIntroCenter{
	text-align: center;
}
.home a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #feab02;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.home :hover::before {
  width: 100%;
  color: #feab02;
}

.about a::before{
	content: '';
	diplay: block;
	heigt: 5px;
	background-color: #feab02;
	position: absolute;
	top:0;
	width: 0%;
	transition: all ease-in-out 250ms;
}
.about :hover::before{
	width: 100%;
	color: #feab02;
}

.results a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #feab02;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.results :hover::before {
  width: 100%;
  color: #feab02;
}

.question-card{
  margin: auto;
	background-color: #fff;
	width: 50%;
	height: 26em;
	margin-top: 6em;
	margin-bottom: -30em;
}

.topNavCategories{
	border: 1px solid black;
	width: 100%;
	height: 3em;
	margin-top: -5px;
}

.DisplayQuestions{
  margin-left: auto;
	margin-right: auto;
  padding-top: 19px;
  position: relative;
	border: 1px solid black;
	width: 50%;
	height: 30em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerBlack{
	font-family: 'Orelega One', cursive;
	color: #000;
	font-size: 2.5em;
	margin-top: 7px;
	margin-bottom: auto;
	text-align: center;
}

.centerWhite{
	font-family: 'Orelega One', cursive;
	color: #fff;
	font-size: 2.5em;
	margin-top: 7px;
	margin-bottom: auto;
	text-align: center;
}

.Centeredtext{
  text-align: center;
  color: #fff;
}

.Centeredtext a{
  text-decoration: none;
  color: #fff;
  margin-top: 3em;
  margin-left: 4em;
}

.Centeredtext, a:hover{
  color: #feab02;
}

.cenocolor{
  text-align: center;
  color: #fff;
}

#text{
  height: 25px;
  border-radius: 5px;
  padding:4px;
  border: solid thin #aaa;
  width: 40%;
}

#submit{
  height: 25px;
  border-radius: 5px;
  padding:4px;
  border: solid thin #aaa;
}

#submit:hover{
   cursor: pointer;
}

#button{
  padding: 10px;
  width: 100px;
  color: white;
  border: none;
}

#box{
   margin: auto;
   margin-bottom: -28em;
}

.formchild{
	width: 40%;
  padding: 35px;
  background-color: #fff;
  left: 25%;
  right: 25%;
  margin: 10% auto;
  text-align: center;
	height: 26em;
	opacity: 0.9;
	border-radius: 25px;
}

.form th{
  font-size: 2rem;
}

.btnon{
  padding: 1em 2em;
	color: #000;
	background-color: #fff;

}

.Subbotton{
	padding: 0.5em 3em;
	cursor: pointer;
}

.main{
  text-decoration: none;
  color: black;
}

h6{
	text-align: center;
	margin: auto;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  padding: 25px 0px;
  margin-top: 46em;
  height: 17em;
}


#footer {
  background: #000;
   left: 0;
   bottom: 0;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

#footer ul.s-links li a{
  color:#fff;
  font-size: 19px;

}

#footer ul.s-links li{
    font-size: 25px;
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.s-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.s-links li a i{
  margin-right: 5px;
}
#footer ul.s-links li:hover a i {
    font-weight: 700;
		text-decoration: none;
		color: blue;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: 10px;
}
.row{
  margin-left: auto;
	margin-right: auto;
}

.foot{
	display: inline;
	text-align: center;
	float: center;
	padding-left: 13.33%;
}

.FooterLogo{
	display: inline-block;
  float: left;
  text-align: center;
  padding: 10px;
	text-align: center;
	margin-left: 1em;
}
.column {
	display: inline-block;
  float: left;
  width: 33.33%;
  padding: 5px;;
  padding-left: 13.3%;
	margin-left: 1em;
}
