/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



::selection {
  color: #0f4ce4;
  background: #fff;
}

.view-modaal, .popuup {
  position: absolute;
  left: 60%;
  margin-top: 6rem;
}

button {
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
  padding-top: 20px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}

.view-modaal{
  top: 45%;
  left: 85%;
  color: #fff ;
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 7px;
  background:  #420264;
  transform: translate(-50%, -50%);
}

.popuup {
  background: #fff;
  margin: 30px -100px;
  padding: 45px 35px; /* contents sa loob ng modal*/
  border-radius: 15px;
  top: 10%;
  max-width: 800px;
  width: 680%;
  height: 70%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,transform 0.2s 0s ease-in-out;
}
.popuup.show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

.popuup :is( .icons, .field){
  display: flex;
  align-items: center;
  margin: 0 30px;
  justify-content: space-between;
}
.headerMod{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popuup .headerMod {
  padding-bottom: 15px;
  border-bottom: 1.4px solid #ebedf9;
}

.headerMod span {
  font-size: 30px;
  font-weight: 800;
}

.headerMod .close, .icons a {
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.headerMod .close {
  color: #878787;
  font-size: 35px;
  background: #f2f3fb;
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.headerMod .close:hover {
  background: #ebedf9;
}

.popup .content {
  margin: 20px -50px;
}

.popup .icons {
  margin: 15px 0 20px 0;
}

.content p {
  font-size: 16px;
  position: relative;
  right: 4px;
  top: 10px;
}
.content span{
  padding: 15px;
  color:#420264;

}
.content .icons a{
height: 90px;
width: 90px;
font-size: 60px; /* icon size*/
margin: 20px 10px;
align-items: center;
text-decoration: none;
border: 1.4px solid transparent;
}

.icons a i {

  transition: transform 0.3s ease-in-out;
}

.icons a:nth-child(1){
  color: #028476;
  border-color: #028476;
}
.icons a:nth-child(2){
  color: #028476;
  border-color: #028476;
}
.icons a:nth-child(2):hover{
  color: #0f4ce4;
}
.icons a:nth-child(3){
  color: #028476;
  border-color:#028476;
}
.icons a:nth-child(1):hover{
  color: #0f4ce4;
}
.icons a:nth-child(3):hover{
  color: #0f4ce4;
}

.icons a:hover{
  color: #0f4ce4;;
  border-color: transparent;
}
.icons a:hover i {
  transform: scale(1.2);
}
.content .field {
  margin: 12px 0 -5px 0;
  height: 50px;
  border-radius: 10px;
  padding: 0 5px;
  border: 3px solid #e1e1e1;
}
.icongb{
  padding-left: 1em;
  padding-right: 3em;
  padding-bottom: 6em;
  float: left;
  margin-left: 4em;
  height: 50px;
  width: 50px;
  font-size: 50px; /* icon size*/
  text-decoration: none;
  margin: 15px 30 20px 0;
  justify-content: space-between;

}
.icongb a{
margin-top: -2em;
border-radius: 50%;
transition: all 0.3s ease-in-out;
border: 1.4px solid transparent;
padding: 15px;
border-radius: 50%;
transition: all 0.3s ease-in-out;
}

.icongb a i {

  transition: transform 0.3s ease-in-out;
}
.icongb a:nth-child(1){
  color: #028476;
  border-color:#028476;
}
.icongb a:nth-child(1):hover{
  color: #0f4ce4;
  border-color:#0f4ce4;

}
