h1{
  text-align:center;
  font-size:2em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.align{
  padding-top:20px;
  float: left;
  display: inline-block;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:space-around;
  margin-left: 3.5em;
}
.card-container{
  -webkit-perspective:1200;
  -moz-perspective:1200;
  perspective:1200;
}
.card-horizontal{
  height:250px;
  width:250px;
  box-shadow: 0 6px 8px #bbb;
  -moz-transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
  transition:all .4s ease;
 }
.card-front, .card-back{
  color:#fafafa;
  height:100%;
  width:100%;
  position:absolute;
  background:#fff;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
 }
.card-back{
  -moz-transform:rotateY(179.9deg);
  -webkit-transform:rotateY(179.9deg);
  transform:rotateY(179.9deg);
  background:#8d6e63 ;
 }
.card-front-content, .card-back-content{
  box-sizing:border-box;
  text-align:center;
  line-height:2.6em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card-back-hr{
  -webkit-transform:rotateX(179.9deg);
  -moz-transform:rotateX(179.9deg);
  transform:rotateX(179.9deg);
}
.card-horizontal:hover{
  -webkit-transform:rotateX(179.9deg);
  -moz-transform:rotateX(179.9deg);
  transform:rotateX(179.9deg);
}

.card-pic{
  margin-bottom:0.5em;
}

.Maincontainer{
  width: 80%;
  margin: auto;
}
form.Searchbtn input[type=text] {
  float: right;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 20%;
  background: #f1f1f1;
}

form.Searchbtn button {
  float: right;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.Searchbtn button:hover {
  background: #0b7dda;
}

form.Searchbtn::after {
  content: "";
  clear: both;
  display: table;
}
.cat{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  border-radius: 8px;
  border: 1px solid black;
}
.cat:hover{
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.catH{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  background-color: #007bff;
  cursor: pointer;
}
.catH:hover{
  color: #fff;
}
