.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100&;
  min-height: 100%;
  padding:20px;
}

#formContent{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  bacground: #fff;
  padding-top: 20px;
  max-width: 50px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
}
#formContent .row{
  width: 100%
  margin : 0px;
  padding: 0px;
  margin-bottom: 5px;
  padding-left: 5px;
}
