.quiz{
  text-align:center;
  padding-top:1em;
  padding-bottom: 1em;
  padding-left:1em;
  padding-right:1em;
  font-family: arial, sans-serif;
  margin:auto;
  width: 70%;
  border:1px solid black;
  background-color: #dda3f1;
  border-radius: 1em;
}

.Container{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
  width: 70%;
  border: 1px solid black;
}

.cons{
  margin: auto;
  width: 93%;
  border: 1px solid black;
}
